
  <% results.each do |result| %>
    <% if (@start_day != result.start.day) then %>
	<div class="date <%='seperator' if (@start_day!=0) %>">
      <%= result.start.strftime("%d %b %Y") %>
	</div>
	<% @start_day = result.start.day
	end %>
	<%= render partial: 'show', locals: {result: result} %>
  <% end %>
  <% if defined? @metro then %>
    <span id="metro-id" data-metro="<%= @metro %>"></span>
    <span id="page" data-page-number="2"></span>
  <% end %>
