<% results.each do |result| %>
    <% if (@start_day != result.start.day) then %>
    
	<div class="col-xs-12 col-sm-12 col-md-12 date <%='seperator' if (@start_day!=0) %>">
      <%= result.start.strftime("%A, %B #{result.start.day.ordinalize}") %>
	</div>
	<% @start_day = result.start.day
	end %>
	<%= render partial: 'show', locals: {result: result, mobile: @mobile} %>
  <% end %>
  <% if defined? @metro then %>
    <span id="metro-id" data-metro="<%= @metro %>"></span>
    <span id="page" data-page-number="2"></span>
  <% end %>
