<div class="row">
  <div class="col-xs-6 col-sm-7 col-md-7">
    <div id="map-container" class="map-container">
      <div id="map" class="google-map"></div> 
      <div class="input-group">
        <input type="text" class="form-control" id="map-search" placeholder="Enter your address...">
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-5">
    <div class="header">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img src="/assets/musictime.png" alt="Musictime logo" class="img-logo">
        </div>
        <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn btn-block">
                <i class="fa fa-user"></i>Login
            </button>
            <button type="button" class="btn btn-block">
                <i class="fa fa-user-plus"></i>Register
            </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="instructions">
            Here we&rsquo;d put a detailed explanation of how to use the app.
          </p>
        </div>
      </div>
    </div>
    <div id="results-container">
      <%= render partial: 'results', locals: {results: @display_results} %>
    </div>
  </div>
</div>
<div class="player">
  <button type="button" class="btn btn-default btn-close" onClick="$(this).parent('.player').removeClass('visible')">&times;</button>
  <div id="youtube-widget"></div>
</div>
