<div class="row">
  <div class="col-sm-12 col-md-7">
    <div id="map-container" class="map-container">
      <div id="map" class="google-map"></div> 
        <!--
        <div class="input-group">
          <input type="text" class="form-control" id="address-box" placeholder="Enter your address...">
          <span class="input-group-btn">
            <button class="btn btn-default" id="update-button" type="button">Go!</button>
          </span>
        </div>
        -->
    </div>
  </div>
  <div class="col-sm-12 col-md-5">
    <%= render partial: 'results', locals: {results: @display_results} %>
  </div>
</div>
