<div class="outermap" >
  <div class="mapaffix" data-spy="affix" data-offset-top="150" >
    <div class="mapContainer">
      <div id="map" style='width: 800px; height: 400px;'></div> <br>
      <div class="input-group">
          <input type="text" class="form-control" id="addressBox" placeholder="Enter your address...">
          <span class="input-group-btn">
            <button class="btn btn-default" id="updateButton" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
    </div>
  </div>
</div>



<div class="mainContainer">
    <div class="row">
        <div class="col-md-3" >
          <div class="widget-container panel panel-default" id="youtube-widget" data-spy="affix" data-offset-top="0" >
            <p> click on the <i class="fa fa-spotify fa-3x"></i> to load a spotify playlist with the top 3 songs of each band</p>
            <p> click the <i class="fa fa-youtube fa-3x"></i> to load in youtube videos for that band </p>
          </div>
        </div>
        <div class="col-md-8 resultsContainer">
            <%= render partial: 'results', locals: {results: @test.results} %>
        </div>

        <div class="col-md-1" id="spotify-widget" >
        </div>
    </div>
</div>